<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"> 在线竞拍 </a>
    </div>

    <div>
      <ul class="nav navbar-nav .navbar-ex1-collapse">
        <li><a href="#">拍品分类</a></li>
        <li><a href="#">艺术拍卖厅</a></li>
        <li><a href="#">艺术知识堂</a></li>
      </ul>
    </div>

  </div>

</nav>
